.heroContainer {
    position: absolute;
    left: 0;
    width: 100%;
    height: 80%;
}
.heroImg {
    height: 100%;
    width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
}
.heroContent {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  border-radius: 8px;
}
.heroContent h2 {
  font: var(--heading-extra-big);
  color: var(--highlight);
  margin-bottom: 0.5rem;
}
.heroContent p {
  font: var(--heading-medium);
  color: var(--highlight);
  margin: 0 auto;
}