.form {
  max-width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 18px;
  background-color: var(--secondary-color);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}
.input {
  padding: 12px 14px;
  font-size: 16px;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  outline: none;
}
.input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.3);
}
.submitButton {
  background-color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
  border: none;
  border-radius: 8px;
}
.submitButton:hover {
  color: var(--highlight);
}
.error {
  color: var(--error);
  font:var(--heading-medium);
}
