@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
:root {
/* colors */
--primary-color: #00BFFF;      /* Skyblue – för knappar, länkar, CTA */
  --secondary-color: #2A2A2A;    /* Mörk bakgrund */
  --accent: #3C3C3C;             /* Lite ljusare mörkgrå för sektioner/bakgrundsdelar */
  --highlight: #505050;          /* Hover-effekter, borders eller mindre element */
  --text-color: #E0E0E0;         /* Ljus text mot mörk bakgrund */
  --dark-color: #1A1A1A;         /* Extra mörk bakgrund eller text */
  --error: #FF4C4C;              /* Stark röd för felmeddelanden */
/* typeography */
--font-family:"Roboto", sans-serif; 
--heading-extra-big: 900 2rem var(--font-family); 
--heading-big: 700 1.5rem var(--font-family);    
--heading-medium: 700 1rem var(--font-family);  
--heading-small: 600 0.75rem var(--font-family); 
--text: 400 0.5rem var(--font-family);            
--text-small: 400 0.3rem var(--font-family);  
}
h1, h2, h3, h4, h5, h6, p, a, span {
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 400;
}
a {
  text-decoration: none;
}


